@import url('https://fonts.googleapis.com/css2?family=Outfit');
body {
    background-color: hsla(211, 45%, 89%, 100%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.qr-code-article {
    background-color: #FFF;
    height: 497px;
    width: 320px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 12px;
    display: block;
    margin: 16px auto 0;
}

article {
    width: 288px;
    margin: 0 auto;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    color: #1F314F;
    padding: 0 1fr 0 16px;
    margin-bottom: 0px;
}

h1::first-letter{
    padding-left: 8px;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7D889E;
    text-align: center;
    width: 256px;
    margin: calc(129px - (57px + 56px)) 16px 0;
}

p:first-letter {
    margin-left: 4px;
}